html {
	background: url("assets/crack1.png");
	background-repeat: repeat;
	/* padding-bottom: 500px; */
	background-size: 200px;
}

body {
	background: black;
	width: 1000px;
	margin: 200px auto 200px auto;
	color: white;
	text-align: left;
	font-size: 24;
}

p {
	margin: 20px 30px 20px 30px;
	padding: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: gray;
}

.headings {
	margin: 20px 30px 20px 30px;
	text-align: center;
	color: white;
}

.button {
  width:150px;
  height:100px;
  border-radius: 12px;
  display:block;
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
