html {
	background: url("assets/crack1.png");
	background-repeat: repeat;
	/* padding-bottom: 500px; */
	background-size: 500px;
}

body {
	background: black;
	width: 65%;
	margin: 200px auto 200px auto;
	color: white;
	text-align: left;
	border-radius: 50px;
	font-family: coolhandpk;
	font-size: 24;
	font-size: 150%;
	letter-spacing: 3px;
	padding: 0px;
}

p {
	margin: 20px 30px 20px 30px;
	padding: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: gray;
}
/* 
@font-face {
    font-family: 'coolhandpk';
    src: url('font/coolhandpk4.woff2') format('woff2'),
        url('font/coolhandpk4.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

.headings {
	margin: 20px 30px 20px 30px;
	text-align: center;
	color: white;
}

.button {
  width:150px;
  height:100px;
  border-radius: 12px;
  display:block;
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/* LOGO NEXT TO TEXT */
.post-container {
    margin: 20px 20px 0 0;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 10px
}
.post-title {
}
